{
  "presets": [
    "env",
    "react",
    "es2015"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "targets": {
      "browsers": [
        "last 2 versions",
        "safari >= 7",
        "iOS >= 8"
      ]
    }
  },
  "plugins": [
    "transform-runtime",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      }
    ],
    // 解决继承时，原型链的问题
    "transform-class-properties",
    // 注解
    "transform-decorators"

  ]
}
