target/
.project
.classpath
.settings/
.DS_Store
*.iml
.idea/
*.versionsBackup
disconf/
*.pdb
*.db
logs/
backend/.factorypath
cbb_parent/cbb_server/backend/.factorypath
cbb_parent/cbb_pptn/backend/.factorypath
cbb_parent/cbb_apigateway/backend/.factorypath
cbb_parent/cbb_apigateway/backend/.springBeans
cbb_parent/cbb_common/.factorypath
cbb_parent/cbb_demo/backend/.factorypath
cbb_parent/cbb_weather/backend/.factorypath
cbb_parent/cbb_demo/backend/.springBeans
.metadata/*
