<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summit.send.dao.SmsTemplateDao">


    <resultMap id="BaseResultMap" type="com.summit.send.pojo.SmsTemplateEntity">
        <id column="template_id" javaType="java.lang.String" property="templateId"/>
        <result column="template_content" javaType="java.lang.String" property="templateContent"/>
        <result column="template_code" javaType="java.lang.String" property="templateCode"/>
        <result column="template_type" javaType="java.lang.String" property="templateType"/>
        <result column="create_time" javaType="java.util.Date" property="createTime"/>
        <result column="update_time" javaType="java.util.Date" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column">
        template_id,template_content,template_code,template_type,create_time,update_time
    </sql>

    <insert id="insertTemplate" parameterType="com.summit.send.pojo.SmsTemplateEntity">
        INSERT INTO sms_template
        (
        <include refid="Base_Column"/>
        ) values
        (#{templateId},#{templateContent},#{templateCode},#{templateType},#{createTime},#{updateTime})
    </insert>


     <select id="queryTmpalteCodeById" resultType="java.lang.String">

        select template_code from sms_template
        <where>
            template_code = #{templateCode}
        </where>
    </select>

</mapper>